<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://colorjs.io/dist/color.js"></script>
    <style>
        @import '../styles/index.css';
    </style>
</head>
<body>
<div id="app">
    <header>
        <div class="container">
            <div class="border"></div>
            <div class="solid cg-40">
            </div>
            <div class="dynamic-size">
                <img class="logo" src="../assets/logo.svg"/>
                <div class="search-box">
                    <img src="../assets/search.svg"/>
                    <span>Search Neumo</span>
                    <input class="search-input" required/>
                </div>
                <button class="round-button">
                    <img src="../assets/category.svg"/>
                </button>
            </div>
            <div class="content padding-24">
                <img class="logo" src="../assets/logo.svg"/>
                <div class="search-box">
                    <img src="../assets/search.svg"/>
                    <span>Search Neumo</span>
                    <input class="search-input" required/>
                </div>
                <button class="button round">
                    <div class="border"></div>
                    <div class="solid cg-20">
                    </div>
                    <div class="dynamic-size">
                        <img src="../assets/category.svg"/>
                    </div>
                    <div class="content align-items-center justify-content-center">
                        <img src="../assets/category.svg"/>
                    </div>
                </button>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <section>
                <div class="drop-down">
                    <li>Overview</li>
                    <li>Intro</li>
                    <li>Color System</li>
                    <li>Directions</li>
                </div>
                <div class="drop-down">
                    <li>Components</li>
                    <li>Buttons</li>
                    <li>Card</li>
                    <li>Dropdown</li>
                </div>
            </section>
            <section>

            </section>
        </aside>
        <section id="page">

        </section>
    </main>
</div>
<script>

</script>
</body>
</html>
