<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://colorjs.io/dist/color.js"></script>
    <style>
        @import '../styles/init.css';
        @import '../styles/components/index.css';
    </style>
    <script src='https://cdn.jsdelivr.net/gh/snd-lib/snd-lib@v1.0.0/dist/browser/snd.js?kit=01'></script>
    <script src="../scripts/components/index.js"></script>
</head>
<body>
<div id="app">
    <main>
        <section id="page">
            <article class="chapter" id="component">
                <h2>Components</h2>
                <p>NEUMO Components are interactive building blocks for creating a user interface.</p>
                <hr/>
            </article>
            <article class="chapter" id="buttons">
                <h3>Buttons</h3>
                <p>
                    Buttons help people initiate actions, from sending an email, to sharing a document, to liking a
                    post.
                    </br>
                    There are three types of common buttons: gradient, filled, plain, and text.
                </p>
                <div class="frame">
                    <div class="grid">
                        <button class="first" onmouseover="parent.play(Snd.SOUNDS.TRANSITION_UP)"
                                onmouseout="parent.play(Snd.SOUNDS.TRANSITION_DOWN)">
                            <div class="status hover">
                                <div class="border"></div>
                                <div class="solid">
                                </div>
                                <div class="dynamic-size">
                                    Button
                                </div>
                                <div class="content snd__button align-items-center justify-content-center">
                                    Button
                                </div>
                            </div>
                            <div class="status active">
                                <div class="border"></div>
                                <div class="solid">
                                </div>
                                <div class="dynamic-size">
                                    Button
                                </div>
                                <div class="content snd__button align-items-center justify-content-center">
                                    Button
                                </div>
                            </div>
                            <div class="border"></div>
                            <div class="solid">
                            </div>
                            <div class="dynamic-size">
                                Button
                            </div>
                            <div class="content snd__button align-items-center justify-content-center">
                                Button
                            </div>
                        </button>
                        <button class="second" onmouseover="parent.play(Snd.SOUNDS.TRANSITION_UP)"
                                onmouseout="parent.play(Snd.SOUNDS.TRANSITION_DOWN)">
                            <div class="status hover">
                                <div class="border"></div>
                                <div class="solid">
                                </div>
                                <div class="dynamic-size">
                                    Button
                                </div>
                                <div class="content snd__button align-items-center justify-content-center">
                                    Button
                                </div>
                            </div>
                            <div class="status active">
                                <div class="border"></div>
                                <div class="solid">
                                </div>
                                <div class="dynamic-size">
                                    Button
                                </div>
                                <div class="content snd__button align-items-center justify-content-center">
                                    Button
                                </div>
                            </div>
                            <div class="border"></div>
                            <div class="solid">
                            </div>
                            <div class="dynamic-size">
                                Button
                            </div>
                            <div class="content snd__button align-items-center justify-content-center">
                                Button
                            </div>
                        </button>
                        <button class="third" onmouseover="parent.play(Snd.SOUNDS.TRANSITION_UP)"
                                onmouseout="parent.play(Snd.SOUNDS.TRANSITION_DOWN)">
                            <div class="status hover">
                                <div class="border"></div>
                                <div class="solid">
                                </div>
                                <div class="dynamic-size">
                                    Button
                                </div>
                                <div class="content snd__button align-items-center justify-content-center">
                                    Button
                                </div>
                            </div>
                            <div class="status active">
                                <div class="border"></div>
                                <div class="solid">
                                </div>
                                <div class="dynamic-size">
                                    Button
                                </div>
                                <div class="content snd__button align-items-center justify-content-center">
                                    Button
                                </div>
                            </div>
                            <div class="border"></div>
                            <div class="solid">
                            </div>
                            <div class="dynamic-size">
                                Button
                            </div>
                            <div class="content snd__button align-items-center justify-content-center">
                                Button
                            </div>
                        </button>
                        <button class="fourth snd__disabled">
                            <div class="status hover">
                                <div class="border"></div>
                                <div class="solid">
                                </div>
                                <div class="dynamic-size">
                                    Button
                                </div>
                                <div class="content snd__button align-items-center justify-content-center">
                                    Button
                                </div>
                            </div>
                            <div class="border"></div>
                            <div class="solid">
                            </div>
                            <div class="dynamic-size">
                                Button
                            </div>
                            <div class="content snd__disabled align-items-center justify-content-center">
                                Button
                            </div>
                        </button>
                    </div>
                </div>
            </article>
            <article class="chapter" id="toggle-switch">
                <h3>Toggle Switch</h3>
                <p>
                    Switches are very convenient for you to handle some events like on-off transitions.
                </p>
                <div class="frame">
                    <div class="toggle snd__toggle" onclick="toggle(this)">
                        <div class="status"></div>
                        <div class="toggle-button"></div>
                    </div>
                </div>
            </article>
            <article class="chapter" id="select-tab">
                <h3>Select</h3>
                <p>
                    By using the example code, you can use the alarm message quickly and easily.
                </p>
                <div class="frame">
                    <div class="select first">
                        <div class="container">
                            <li class="item active" onclick="selectMenu(this,'first')">
                                <span>Menu1</span>
                            </li>
                            <li class="item" onclick="selectMenu(this,'second')">
                                <span>Menu2</span>
                            </li>
                            <li class="item" onclick="selectMenu(this,'third')">
                                <span>Menu3</span>
                            </li>
                        </div>
                        <div class="indicator first"></div>
                    </div>
                </div>
            </article>
            <article class="chapter" id="text-input">
                <h3>Text Input</h3>
                <p>
                    The Neumo input CSS class make use of input tag of HTML. It will help you to apply neumorphism to
                    your input forms.
                </p>
                <div class="frame">
                    <div class="text-box">
                        <span>Text Input</span>
                        <input class="text-input snd__type snd__transition_up" required onfocusin="focusin(this)"
                               onfocusout="focusout(this)"/>
                    </div>
                </div>
            </article>
        </section>
    </main>
</div>
<script>

</script>
</body>
</html>
