@layer layout {
    body, html {
        display: flex;
        flex-direction: column;
        /*overflow-x: hidden;*/
        align-items: center;
        margin: 0;
        padding-top: 72px;
        scroll-behavior: smooth;
    }

    h4 {
        margin-top: 48px;
        color: var(--cg900);
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }

    .neumo-introduce {
        display: flex;
    }

    .logo {
        height: 300vh;
    }

    .logo img {
        height: 200px;
        position: sticky;
        top: calc(50% - 100px);
    }

    .description {
        height: 300vh;
    }

    #color-system {
        padding-bottom: 400px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .container {
    }

    hr {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .frame{
        background-color: var(--cg40);
        box-shadow: -10px -10px 20px 0px #FFFFFF inset, 10px 10px 20px 0px #DAE0E6 inset;
        height: 424px;
        width: 100%;
        border-radius: 16px;
    }
    .chapter:last-child{
        margin-bottom: 105px;
    }
}
@layer text-style {
    h2, h3 {
        color: var(--blue-default);
        font-family: Inter;
        letter-spacing: 0em;
        text-align: left;
    }

    h2 {
        font-weight: 400;
        font-size: 48px;
    }

    h3 {
        font-weight: 600;
        font-size: 32px;
        margin-top: 80px;
    }

    p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }

    .description p {
        position: sticky;
        top: calc(50% - 100px);
        height: 100vh;
        margin: 0;
        margin-left: 72px;
        padding-top: 68px;
        opacity: 0;
        transform: translateX(+100%);
        transition: .2s ease-in-out;
        line-height: 32px;
        vertical-align: middle;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;

    }

    .description p.active {
        transform: translateX(0%);
        opacity: 1;
    }

    .description *:last-child {
        position: sticky;
        height: 120px;
    }
}