body,
html {
  background-color: var(--lobby-background-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  position: relative;
  width: 752px;
  height: 400px;
  padding-left: 16px;
  padding-right: 16px;
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.main {
  fill: white;
  z-index: 1;
}
.light-shadow {
  animation: lightShadowAnimation ease-in-out 1s 1s forwards;
  z-index: 2;
  background-color: var(--lobby-background-color);
}
.dark-shadow {
  animation: darkShadowAnimation ease-in-out 1s 1s forwards;
  z-index: 0;
  filter: blur(6px);
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightShadowAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes darkShadowAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(20px) translateY(20px);
  }
}
p {
  opacity: 0;
  animation: fadeInAnimation ease-in-out 1s 2s forwards;
  color: var(--cg700);
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 82px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

button {
  opacity: 0;
  animation: fadeInAnimation ease-in-out 1s 3s forwards;
  max-width: 416px;
  height: 60px !important;
  width: calc(100% - 32px);
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (max-width: 500px) {
  .container {
    width: calc(100vw - 32px);
    height: calc(53.191vw - 32px);
  }
}
