@layer init {
  :root {
    --cg00: #ffffff;
    --cg900: #12161a;
    --cg800: #292e33;
    --cg700: #3d454d;
    --cg600: #525c66;
    --cg500: #6c7680;
    --cg300: #98a5b3;
    --cg100: #dae0e6;
    --cg60: #e4eaf0;
    --cg40: #edf1f5;
    --cg20: #f7f9fa;

    --keycolor: #0060e5;
    --light-shadow: rgba(102, 204, 255, 1);
    --dark-shadow: rgba(0, 115, 229, 1);
    --font-color: white;
    --background-color: var(--cg40);
    --lobby-background-color: #dbe5f0;
    --depth-1-color: var(--cg20);
    --direction-x: -4px;
    --direction-y: -4px;
    --direction-x-invert: 4px;
    --direction-y-invert: 4px;
    --text-direction-x: -2px;
    --text-direction-y: -2px;
    --text-direction-x-invert: 2px;
    --text-direction-y-invert: 2px;
    --app-padding: 24px;
  }

  body,
  html,
  #app {
    background-color: var(--cg40);
  }

  * {
    font-family: Spoqa Han Sans Neo;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
  }
  .cg-20 {
    background-color: var(--cg20);
  }
  .cg-40 {
    background-color: var(--cg40);
  }
  .align-items-center {
    align-items: center;
  }
  .justify-content-center {
    justify-content: center;
  }
  .padding-24 {
    padding: 24px;
  }
}
